.author__photo {
  margin: 80px 56px 80px 104px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .author__photo {
    width: 232px;
    height: 232px;
    margin: 61px 32px 61px 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .author__photo {
    width: 272px;
    height: 272px;
    margin: 32px auto;
  }
}
