.github-history__commit-text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .github-history__commit-text {
    height: 88px;
  }
}
