.search-results__show-more {
  display: flex;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  width: 288px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.search-results__show-more:hover {
  opacity: 0.9;
}
