@import url(./search-results__cards.css);
@import url(./search-results__header.css);
@import url(./search-results__show-more.css);

.search-results {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f5f6f7;
}
