@import url(./footer__date.css);
@import url(./footer__navbar.css);
@import url(./footer__socials.css);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 104px;
  margin-right: 106px;
  margin-bottom: 25px;
  margin-top: 30px;
}
