@import url(./navbar_black.css);
@import url(./navbar__link.css);
@import url(./navbar__link_black.css);
@import url(./navbar__link_margin-container.css);
@import url(./navbar__title.css);
@import url(./navbar__title_black.css);
@import url(./navbar__links.css);
@import url(./navbar__link_active.css);
@import url(./navbar__link_black_active.css);
@import url(./navbar__link_active_about.css);

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
