@import url(../vendor/fonts.css);
@import url(../blocks/paragraph/paragraph.css);
@import url(../blocks/link/link.css);
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/navbar_black.css);
@import url(../blocks/request/request.css);
@import url(../blocks/analysis/analysis.css);
@import url(../blocks/footer/footer.css);

.root {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
