@import url(./technologies__block-title.css);
@import url(./technologies__block.css);
@import url(./technologies__blocks.css);
@import url(./technologies__title.css);

.technologies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 97px;
  background: #f5f6f7;
}
