@import url(./technologies__block-title.css);
@import url(./technologies__blocks.css);
@import url(./technologies__title.css);
@import url(./technologies__block-image.css);

.technologies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 97px;
  background: #f5f6f7;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .technologies {
    padding-top: 40px;
    padding-bottom: 50px;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .technologies {
    padding-top: 32px;
    padding-bottom: 52px;
    flex-direction: column;
  }
}
