@import url(./__preloader/searching__preloader.css);
@import url(./__paragraph/searching__paragraph.css);

.searching {
  position: relative;
  margin-top: 0;
  background: #f5f6f7;
  height: 202px;
  padding-top: 80px;
}
